[core]
    editor = emacs

[color]
    ui = true

[user]
    name = Brad Abrahams
    email = email@bradabrahams.co.uk

[alias]
    st = status
    co = checkout
    cm = commit -m
    df = diff
    dc = diff --cached
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
