[core]
    editor = emacs

[color]
    ui = true

[user]
    name = Brad Abrahams
    email = email@bradabrahams.co.uk

[alias]
    st = status
    co = checkout
    cm = commit -m
    df = diff
    dc = diff --cached
    pr = pull --rebase
    l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    a = add --all

[push]
    default = simple
